@use "sass:math";

@import "../_mixins/clearfix";
@import "../_mixins/font-face";
@import "../_mixins/text-overflow";
@import "../_mixins/visually-hidden";

@mixin backdrop-content($height, $backdrop) {
    position: relative;
    padding-top: percentage(math.div($height, 1242));
    background: url("/assets/images/#{$backdrop}") no-repeat center top/cover;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.why-not-nav {
    position: relative;
    max-width: 1242px;
    margin: 0 auto;
    background: {
        repeat: no-repeat;
        position: center top;
        size: cover;
    };

    &::before {
        display: block;
        padding-top: percentage(math.div(152, 1242));
        content: "";
    }

    ul {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    li {
        width: 50%;
        height: 100%;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    span {
        @include visually-hidden;
    }

    &--why-not {
        background-image: url("/assets/images/nav_why_not.jpg");
    }

    &--why-not-load {
        background-image: url("/assets/images/nav_why_not_load.jpg");
    }
}

.why-not-footer {
    max-width: 1242px;
    margin: 0 auto;
    background: url("/assets/images/p_footer.jpg") no-repeat center top/cover;

    &::before {
        display: block;
        padding-top: percentage(math.div(310, 1242));
        content: "";
    }

    > div {
        @include visually-hidden;
    }
}

.why-not,
.why-not-load {
    display: none;
    max-width: 1242px;
    margin: 0 auto;

    &--active {
        display: block;
    }

    &__content {
        @include visually-hidden;
    }
}

.why-not {
    &__header {
        @include backdrop-content(2227, 'why-not/p_header.jpg');
    }

    &__contents {
        @include backdrop-content(4696, 'why-not/p_contents.jpg');
    }

    &__contents-movie {
        position: absolute;
        right: percentage(math.div(50, 1242));
        left: percentage(math.div(50, 1242));

        &--1 {
            top: percentage(math.div(375, 4696));
        }

        &--2 {
            top: percentage(math.div(1350, 4696));
        }

        &--3 {
            top: percentage(math.div(2502, 4696));
        }

        &--4 {
            bottom: percentage(math.div(298, 4696));
        }

        &::before {
            display: block;
            padding-top: percentage(math.div(9, 16));
            clear: both;
            content: "";
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        @include backdrop-content(2055, 'why-not/p_info.jpg');
    }

    &__info-detail {
        position: absolute;

        &--1 {
            top: percentage(math.div(698, 2055));
            left: percentage(math.div(63, 1242));
            width: percentage(math.div(572, 1242));

            a {
                padding-top: percentage(math.div(70, 572));
            }
        }

        &--2 {
            top: percentage(math.div(1246, 2055));
            right: percentage(math.div(74, 1242));
            width: percentage(math.div(553, 1242));

            a {
                padding-top: percentage(math.div(70, 553));
            }
        }

        a {
            display: block;
        }

        span {
            @include visually-hidden;
        }
    }
}

.why-not-load {
    &__header {
        @include backdrop-content(1648, 'why-not-load/p_header.jpg');
    }

    &__zone {
        @include backdrop-content(2138, 'why-not-load/p_zone.jpg');

        li {
            position: absolute;
            width: percentage(math.div(420, 1242));
            height: percentage(math.div(440, 2138));

            &:nth-child(1),
            &:nth-child(4) {
                left: percentage(math.div(104, 1242));
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                left: percentage(math.div(693, 1242));
            }

            &:nth-child(1) {
                top: percentage(math.div(580, 2138));
            }

            &:nth-child(2) {
                top: percentage(math.div(523, 2138));
            }

            &:nth-child(3) {
                top: percentage(math.div(1052, 2138));
            }

            &:nth-child(4) {
                top: percentage(math.div(1115, 2138));
            }

            &:nth-child(5) {
                top: percentage(math.div(1583, 2138));
            }
        }

        a,
        div {
            display: block;
            width: 100%;
            height: 100%;
        }

        span {
            @include visually-hidden;
        }
    }

    &__about {
        @include backdrop-content(2024, 'why-not-load/p_about.jpg');
    }

    &__about-movie {
        position: absolute;
        bottom: percentage(math.div(153, 2023));
        right: percentage(math.div(32, 1242));
        left: percentage(math.div(32, 1242));

        &::before {
            display: block;
            padding-top: percentage(math.div(9, 16));
            clear: both;
            content: "";
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.why-not-load-detail {
    &__container {
        background: {
            repeat: no-repeat;
            position: center top;
            size: cover;
        };

        &::before {
            display: block;
            content: "";
        }
    }

    &__content {
        @include visually-hidden;
    }

    &__map {
        position: absolute;

        span {
            @include visually-hidden;
        }

        a {
            display: block;
            padding-top: percentage(math.div(600, 1053));
        }
    }

    &__tip {
        position: absolute;

        span {
            @include visually-hidden;
        }

        a {
            display: block;
            padding-top: percentage(math.div(101, 737));
        }
    }

    &--1 & {
        &__container {
            background-image: url("/assets/images/why-not-load/p_list_1.png");

            &::before {
                padding-top: percentage(math.div(2956, 1187));
            }
        }

        &__map {
            left: percentage(math.div(71, 1187));
            bottom: percentage(math.div(516, 2956));
            width: percentage(math.div(1053, 1187));
        }

        &__tip {
            left: percentage(math.div(234, 1187));
            bottom: percentage(math.div(87, 2956));
            width: percentage(math.div(737, 1187));
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    width: 100%;
    height: 100%;

    &--open {
        display: block;
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .55);
        //opacity: 0;
        //transition: opacity .15s linear;
    }

    &__dialog {
        position: relative;
        margin: 32px 0 10px;
        pointer-events: none;
        //transform: translate(0, -50px);
        //opacity: 0;
        //transition: transform .3s ease-out, opacity .15s linear;
    }

    &__container {
        position: relative;
        width: calc(100% - 40px);
        max-width: 1187px;
        margin: 0 auto;
        box-sizing: border-box;
        pointer-events: auto;

        &::before {
            display: block;
            padding-top: percentage(math.div(135, 1187));
            content: "";
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: percentage(math.div(120, 1187));
        z-index: 100;

        button {
            display: block;
            width: 100%;
            padding-top: percentage(math.div(135, 120));
            border-radius: 0;
            border: 0;
            background: url("/assets/images/icon_close.png") no-repeat center top/percentage(math.div(90, 120)) auto;
            appearance: none;
            cursor: pointer;
        }

        span {
            @include visually-hidden;
        }
    }

    &--fade & {
        &__backdrop {
            opacity: 1;
        }

        &__dialog {
            opacity: 1;
            transform: none;
        }
    }
}

.modal-open {
    overflow: hidden;
    height: 100%;
}