.DS_Store
package-lock.json

.idea/
node_modules/

backup/dest/assets/css/*
backup/dest/assets/js/*
backup/dest/**/*.html

assets/css/*
assets/js/*
m/assets/css/*
m/assets/js/*

vendor/
logs/
composer.lock
composer.phar
property.php
src/config.php