@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

//@media (prefers-reduced-motion: no-preference) {
//    :root {
//        scroll-behavior: smooth;
//    }
//}

@import "../vendors";

.why-not {
    //height: 600vh;

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__wrap--scene-0 {
        background: #000;
    }

    &__wrap--scene-1 {
        background: #f00;
        transition: .4s;
    }

    &__wrap--scene-3 {
        background: #000;
        transition: .4s;
    }

    &__scene-3 {
        p {
            color: #fff;
            font-size: 60px;

            &:nth-child(1) {
                span {
                    display: block;
                    opacity: 0;

                    &:nth-child(1) {
                        transform: translateX(-200px);
                    }

                    &:nth-child(2) {
                        text-align: right;
                        transform: translateX(200px);
                    }
                }
            }
        }
    }

    &__wrap--scene-3 &__scene-3 {
        p {
            &:nth-child(1) {
                span {
                    opacity: 1;
                    transform: none;
                    transition: .4s ease .2s;

                    &:nth-child(2) {
                        transition-delay: .4s;
                    }
                }
            }
        }

        strong {
            color: #f20090;
            transition: .1s ease-in-out;
        }
    }
}

.pogg {
    a {
        &::before {
            display: block;
            height: 50px;
            background: #000;
            transform: skewX(-15deg);
            content: "";
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            margin-top: -50px;
            color: #fff;
            text-align: center;
            line-height: 50px;
        }
    }
}

.why-not-road {
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    li {
        //column-gap: 10px;
        //grid-auto-rows: 10px;
        &:nth-child(1) {
            padding-top: 220px;
            grid-row-end: span 2;

        }

        &:nth-child(2) {
            height: 300px;
        }

        //
        //&:nth-child(2) {
        //    padding-top: 50px;
        //}
        //
        //&:nth-child(4) {
        //    grid-column: 2 / 3;
        //}
        //
        //&:nth-child(5) {
        //    grid-column: 3 / 3;
        //}
    }

    a {
        display: block;
        //width: 250px;
        height: 320px;
        background: #ddd;
    }
}