doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LG U+

    meta(name="description" content="와이낫크루가 추천하는 대한민국 핫플과 혜택을 만나보세요")
    meta(name="keywords" content="LG U+, 와이낫 로드")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")

    meta(property="og:type" content="website")
    meta(property="og:title" content="와이낫 로드")
    meta(property="og:url" content="https://와이낫로드.com")
    meta(property="og:description" content="와이낫크루가 추천하는 대한민국 핫플과 혜택을 만나보세요")
    meta(property="og:image" content="https://와이낫로드.com/assets/images/og_image.png")
    meta(property="og:site_name" content="와이낫 로드")
    meta(property="og:locale" content="ko_KR")
    meta(property="article:author" content="LG U+")

    link(rel="stylesheet" href="/assets/css/app.css")

    script(src="https://polyfill.io/v3/polyfill.min.js?features=URL")
    script(src="/assets/js/app.js")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-233743431-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-233743431-1');
body
    nav.why-not-nav
        ul
            li
                a(href="/?content=why-not")
                    span 와이낫
            li
                a(href="/?content=why-not-road")
                    span 와이낫 로드

    article#why-not.why-not
        aside.why-not__subscribe
            div.why-not__content
                h1 유독
                p 2022. 07. 14 선 넘는 구독 생활이 시작됩니다
        header.why-not__header
            div.why-not__content
                h1 유플러스만의 WHY NOT이란?
                h2 유플러스 선 넘는 즐거움의 시작
                p.
                    '이 정도면 충분하지'
                    '원래 그렇게 하는 거야'
                    그 정도 선에서 멈추는 게 맞는 걸까?
                    선을 넘지 않으면 아무 일도 생기지 않아
                    선을 넘어야 새로움은 만들어지는 거야
                    적당히 좋은 것,
                    고정관념, 한계를 넘어,
                    과감하게 도전하는 것
                    뻔하지 않은 생각으로
                    일상의 즐거움을 만드는 것
                    그렇게 고객을 향해,
                    선을 넘는 것
                    이런 게 유플러스만의
                    WHY NOT
        section.why-not__contents
            div.why-not__content
                h2 WHY NOT 유독
                p 나를 위한 구독 서비스, 유독
            div.why-not__contents-movie.why-not__contents-movie--1
                iframe(src="https://www.youtube.com/embed/lhVcEIhND0M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                h3 [WHY NOT? 자유할인 편]
                p.
                    “유독 하고 싶은 것 다 하는 사람 있어”
                    조건 없이, 부담 없이 할수록 더 할인받을 수 있다면?
                    이런 게 유플러스만의 WHY NOT!
            div.why-not__contents-movie.why-not__contents-movie--2
                iframe(src="https://www.youtube.com/embed/4ZWmDljpgNY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                h3 [WHY NOT? 편리 편]
                p.
                    “유독 편한 것만 찾는 사람 있어 ”
                    가입할 때도, 해지할 때도 쉽고 편하게 관리할 수 있다면?
                    이런 게 유플러스만의 WHY NOT!
            div.why-not__content
                h2 WHY NOT 디즈니 플러스
                p 공간을 넘어 디즈니+와 함께하는, 선 넘는 즐거움
            div.why-not__contents-movie.why-not__contents-movie--3
                iframe(src="https://www.youtube.com/embed/HK0YHM1a-_w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                h3 [WHY NOT? 아빠와 아들 편]
                p.
                    “같이 보니까 좋지?” “완전!”
                    어린시절 내가 좋아했던 콘텐츠를,우리 아이와 함께 즐길 수 있다면?
                    이런 게 유플러스만의 WHY NOT!
            div.why-not__contents-movie.why-not__contents-movie--4
                iframe(src="https://www.youtube.com/embed/Gh4fA2SYlgM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                h3 [WHY NOT? 칠공주 편]
                p.
                    “우리 진짜 언제 보냐~”
                    멀리 떨어져있어도 같이 있는것 같은 생생한 즐거움!✨
                    이런 게 유플러스만의 WHY NOT!

            h2.why-not__content 처음을 이끄는 과감한 도전, Why Not?
            div.why-not__contents-movie.why-not__contents-movie--5
                iframe(src="https://www.youtube.com/embed/CWOgnaDjzcs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                p.
                    “할 수 있겠어?”
                    “그게 될까?”
                    일상의 즐거운 변화를 위해 편견을 깨고
                    과감한 도전들을 먼저 시도하는 유플러스만의 실천 캠페인, “Why Not?”
                h2 WHY NOT Song
                h3 유플러스 x 모비딕 와이낫 크루 Why Not MV
            div.why-not__contents-movie.why-not__contents-movie--6
                iframe(src="https://www.youtube.com/embed/CXLuNiVMNlc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.why-not__content
                p 선 넘는 도전을 하는 와이낫 크루의 Why Not 송
                h2 WHY NOT Playlist
                h3 LG Uplus x essential; 일상의 즐거운 변화
            div.why-not__contents-movie.why-not__contents-movie--7
                iframe(src="https://www.youtube.com/embed/tyN9BriXcu0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            p.why-not__content.
                Why Not? 선넘는 즐거움으로 오늘을 변화시켜 줄 컬러풀 팝
                Colorful trendy pop with LG U+

        section.why-not__info
            div.why-not__content
                h2 WHY NOT 프로젝트 소개
                p.
                    음악과 함께하는 일상의 즐거움과
                    전국 지역 활성화를 위한
                    유플러스의 야심찬 프로젝트
                    와이낫 크루!
            p.why-not__info-detail.why-not__info-detail--1
                a(href="https://youtu.be/rcH9Y6lHflc" target="_blank")
                    span 와이낫 크루 선 넘는 도전 보러가기 >>
            p.why-not__content.
                와이낫 크루가 소개하는
                대한민국 핫플
                와이낫 로드!
            p.why-not__info-detail.why-not__info-detail--2
                a(href="?content=why-not-road")
                    span 와이낫 로드의 선 넘는 혜택 보기 >>
            p.why-not__content.
                예상 밖의 두 브랜드의 만남
                LG U+ 콜라보레이션
            p.why-not__info-detail.why-not__info-detail--3
                a(href="https://smartstore.naver.com/boksoondoga/products/6878055296" target="_blank")
                    span 유플러스 X 복순도가 콜라보 막걸리 보러가기 >>

    article#why-not-road.why-not-road
        header.why-not-road__header
            div.why-not-road__content
                h1 LG U+
                p 와이낫 크루가 소개하는 대한민국 핫플
        section.why-not-road__zone
            div.why-not-road__content
                h2 와이낫 로드 혜택Zone
                p 와이낫 크루가 찾은 각 지역의 핫플! 그리고 U+가 선물하는 선 넘는 혜택을 공개합니다!
                p * 각 지역의 버튼을 클릭하면 혜택 정보를 확인할 수 있습니다.
            ul 
                li 
                    a(href="#modal-1")
                        span 춘천
                li
                    a(href="#modal-2")
                        span 부산
                li
                    a(href="#modal-3")
                        span 인천
                li
                    a(href="#modal-4")
                        span 울산
                li
                    a(href="#modal-5")
                        span 서울
        section.why-not-road__about
            div.why-not-road__content
                h2 와이낫 크루란?
                p.
                    이제껏 볼 수 없었던 4인방의 선 넘는 도전기가 시작된다!<br>
                    대한민국 숨겨진 명소를 찾아 선 넘는 미션들을 해결하고<br>
                    예측불가한 상황에서 와이낫 라이브를 펼치는<br>
                    뮤직&여행 버라이어티!
                ul 
                    li 조정식
                    li KCM
                    li 박현규
                    li 권은비
                h3 와이낫 크루 영상보기
            div.why-not-road__about-movie
                iframe(src="https://www.youtube.com/embed/rcH9Y6lHflc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    footer.why-not-footer
        div
            p
                address ㈜엘지유플러스 주소 서울특별시 용산구 한강대로 32
            ul
                li 대표이사 황현식
                li 사업자등록번호 220-81-39938
                li 통신판매신고 제 2015-서울용산-00481호
                li 사업자정보확인 l CS센터 1544-9146 (평일 10~18시 / 점심시간 12~13시)
            p
                Copyright © LG Uplus Corp. All Rights Reserved

    #modal-1.modal.why-not-road-detail.why-not-road-detail--1
        .modal__backdrop
        .modal__dialog
            .modal__container
                .why-not-road-detail__container
                    .why-not-road-detail__content
                        h3 춘천
                        p 와이낫 크루’S 추천 유플러스 고객을 위한 선 넘는 멤버십 혜택
                        ul
                            li
                                h4 레고랜드 코리아
                                p.
                                    LG U+ 단독 1일 이용권 20%  상시 할인
                                    * 주중 20%, 주말 10% 할인
                                    본인 포함 동반 4인까지 할인
                                    (최대 48,000원 할인)
                            li
                                h4 혜정 닭갈비
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원 할인
                                    (최대 2만원까지 할인)
                            li
                                h4 수플레
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원 할인
                                    (최대 2만원까지 할인)
                            li
                                h4 처방전
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원 할인
                                    (최대 2만원까지 할인)
                            li
                                h4 블란서 홍차
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원 할인
                                    (최대 2만원까지 할인)
                            li
                                h4 오가는 정과
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원 할인
                                    (최대 2만원까지 할인)
                        h4 지도보기
                    p.why-not-road-detail__map
                        a(href="https://bit.ly/3MuiTHv" target="_blank")
                            span 지도상세
                    .why-not-road-detail__content
                        p 이미지를 클릭하면 상세 지도 확인이 가능합니다
                        h5 또하나의 TIP!
                        p 와이낫 크루’s PICK 춘천 여행지도 소개합니다!
                    p.why-not-road-detail__tip
                        a(href="https://www.youtube.com/watch?v=lxN-pHTiKnA" target="_blank")
                            span 춘천여행 BEST 6
                .modal__close
                    button(type="button")
                        span 닫기

    #modal-2.modal.why-not-road-detail.why-not-road-detail--2
        .modal__backdrop
        .modal__dialog
            .modal__container
                .why-not-road-detail__container
                    .why-not-road-detail__content
                        h3 부산
                        p 와이낫 크루’S 추천 유플러스 고객을 위한 선 넘는 멤버십 혜택
                        ul
                            li
                                h4 엑스 더 스카이 전망대
                                p.
                                    LG U+ 멤버십 회원
                                    전망대 입장료 25% 할인
                                    동반 1인까지 현장 할인 가능
                            li
                                h4 투어지
                                p.
                                    LG U+ 멤버십 회원
                                    20% 할인
                            li
                                h4 수백진국
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 해운대시장산곰장어
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 마산 이모집
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 바다횟집
                                p.
                                    LG U+ 멤버십 회원
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                        h4 지도보기
                    p.why-not-road-detail__map
                        a(href="https://www.google.com/maps/d/u/1/edit?mid=1r-zwrQtxX-kUIRAYns6FpXXJx6DnKsfx&ll=35.18985685925703%2C129.09897640534666&z=14" target="_blank")
                            span 지도상세
                    .why-not-road-detail__content
                        p 이미지를 클릭하면 상세 지도 확인이 가능합니다
                        h5 또하나의 TIP!
                        p 와이낫 크루’s PICK 부산 여행지도 소개합니다!
                    p.why-not-road-detail__tip
                        a(href="https://youtu.be/c3c_KNatUbc" target="_blank")
                            span 부산여행 BEST 6
                .modal__close
                    button(type="button")
                        span 닫기
    #modal-3.modal.why-not-road-detail.why-not-road-detail--3
        .modal__backdrop
        .modal__dialog
            .modal__container
                .why-not-road-detail__container
                    .why-not-road-detail__content
                        h3 인천
                        p 와이낫 크루’S 추천 유플러스 고객을 위한 선 넘는 멤버십 혜택
                        ul
                            li
                                h4 콩카페
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 다락
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 서니구락부
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 스푼빌
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                        h4 지도보기
                    p.why-not-road-detail__map
                        a(href="https://www.google.com/maps/d/u/0/edit?mid=1ZcwyDJVOeUx2L3_ekoitWs1pF5Hedl8&usp=sharing" target="_blank")
                            span 지도상세
                    p.why-not-road-detail__content 이미지를 클릭하면 상세 지도 확인이 가능합니다
                .modal__close
                    button(type="button")
                        span 닫기
    #modal-4.modal.why-not-road-detail.why-not-road-detail--4
        .modal__backdrop
        .modal__dialog
            .modal__container
                .why-not-road-detail__container
                    .why-not-road-detail__content
                        h3 울산
                        p 와이낫 크루’S 추천 유플러스 고객을 위한 선 넘는 멤버십 혜택
                        ul
                            li
                                h4 강변수구레국밥
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 소소원
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 수산물직판장태화점
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 이조참숯갈비
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 할머니의 순두부
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 한마당한우촌
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                        h4 지도보기
                    p.why-not-road-detail__map
                        a(href="https://www.google.com/maps/d/u/1/edit?mid=1YlkrmIRpxPC9KIIKwRl41FWf5s_zIHw&usp=sharing" target="_blank")
                            span 지도상세
                    .why-not-road-detail__content
                        p 이미지를 클릭하면 상세 지도 확인이 가능합니다
                        h5 또하나의 TIP!
                        p 와이낫 크루’s PICK 울산 여행지도 소개합니다!
                    p.why-not-road-detail__tip
                        a(href="https://youtu.be/U6WU-Z7gCI0" target="_blank")
                            span 울산여행 BEST 6
                .modal__close
                    button(type="button")
                        span 닫기
    #modal-5.modal.why-not-road-detail.why-not-road-detail--5
        .modal__backdrop
        .modal__dialog
            .modal__container
                .why-not-road-detail__container
                    .why-not-road-detail__content
                        h3 서울
                        p 와이낫 크루’S 추천 유플러스 고객을 위한 선 넘는 멤버십 혜택
                        ul
                            li
                                h4 공병득 쉐프
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 보나세라 오가닉
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                            li
                                h4 일빠네
                                p.
                                    LG U+ 멤버십 회원 결제 시
                                    1,000원당 100원할인
                                    (최대 2만원까지 할인)
                        h4 지도보기
                    p.why-not-road-detail__map
                        a(href="https://www.google.com/maps/d/u/0/edit?mid=11FQDX-miAawlMkYv7HKQTUdkd7dssk8&usp=sharing" target="_blank")
                            span 지도상세
                    p.why-not-road-detail__content 이미지를 클릭하면 상세 지도 확인이 가능합니다
                .modal__close
                    button(type="button")
                        span 닫기