doctype html
html(lang="ko")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title

            meta(name="author" content="Group IDD 개발그룹")
            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="format-detection" content="telephone=no")
            meta(name="format-detection" content="address=no")
            meta(name="author" content="")

            meta(property="og:url" content="")
            meta(property="og:type" content="website")
            meta(property="og:title" content="")
            meta(property="og:image" content="")
            meta(property="og:description" content="")
            meta(property="og:site_name" content="")
            meta(property="og:locale" content="ko_KR")
            meta(property="article:author" content="")

            link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="32x32" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="16x16" href="/favicon.ico")

            script.
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 13);
                }

            link(rel="stylesheet" href="/assets/css/vendors.css")
            link(rel="stylesheet" href="/assets/css/app.css")

            script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
            script(src="/assets/js/vendors.js")
            script(src="/assets/js/app.js")
    body
        header
            h1
            nav
                ul
                    li
                        a(href="#why-not") WHY NOT?
                    li
                        a(href="#brand-film") Brand Film
                    li
                        a(href="#pogg") 유독
                    li
                        a(href="#why-not-crew") WHY NOT 크루
                    li
                        a(href="#why-not-road") WHY NOT ROAD
                    li
                        a(href="#collaboration") COLLABORATION
        //section#why-not.why-not
        //    div.why-not__wrap
        //        p 1
        //        p 2
        //        div.why-not__scene-3
        //            p
        //                span '이 정도면 충분하지'
        //                span '원래 그렇게 하는 거야'
        //            p.
        //                그정도 선에서
        //                #[strong 멈추는 게 맞는 걸까?]
        //        p 4
        //        p 5
        //        p 6
        //        p 7
        section#why-not.why-not
            div.why-not__wrap
                p 이런게 유플러스만의 WHY NOT ?

        section#brand-film.brand-film
            header
                h3 WHY NOT #[strong Brand Film]
                p 와이낫과 함께 하는 브랜드 필름을 확인해보세요
            div.brand-film__wrap
                nav
                    ul
                        li
                            a(href="#") 나를 위한 구독 서비스 , 유독
                        li
                            a(href="#") 공간을 넘어 디즈니+와 함께하는 선 넘는 즐거움
                        li
                            a(href="#") 처음을 이끄는 과감한 도전, Why Not ?
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            dl
                                dt [WHY NOT? 자유할인 편]  “유독 하고싶은 것 다 하는 사람 있어“ 조건 없이, 부담 없이 할수록 더 할인
                                dd.
                                    “유독 하고싶은 것 다 하는 사람 있어“
                                    조건 없이, 부담 없이 할수록 더 할인 받을 수 있다면?
                                    이런 게 유플러스만의 WHY NOT!
                        .swiper-slide
                            dl
                                dt [WHY NOT? 편리 편]  “유독 편한 것만 찾는 사람 있어 ” 가입할 때도, 해지할 때도 쉽고 편하게 관리할
                                dd.
                                    “유독 편한 것만 찾는 사람 있어 ”
                                    가입할 때도, 해지할 때도 쉽고 편하게 관리할 수 있다면?
                                    이런 게 유플러스만의 WHY NOT!

        section#pogg.pogg
            header
                h3 WHY NOT #[strong 유독]
                p 내 일상에 필요한 구독 상품을 고르고 추가 할인까지 받는 나를 위한 구독 서비스 , 유독
            div.pogg__wrap
                h4 평범한 일상의 순간도 #[strong 더 특별하게]
                p 내 일상에 필요한 서비스를 구독!
                p
                    a(href="#") 나만의 구독 시작하기

                h4 유플러스와 함께 한 배우 #[strong 손석구의 화보 촬영]
                p 더 보러 가고 싶다면?
                p
                    a(href="#") 손석구 화보 보러 가기

        section#why-not-crew.why-not-crew
            header
                h3 선 넘는 WHY NOT #[strong 크루]
                p.
                    이제껏 볼 수 없었던 4인 방의 선 넘는 도전기가 시작 된다!<br>
                    대한민국 숨겨진 명소를 찾아 선 넘는 미션들을 해결하고 예측 불가한 상황에서 와이낫 라이브를 펼치는<br>
                    뮤직 & 여행 버라이어티!
           div.why-not-crew__wrap
               nav
                   ul
                       li
                           a(href="#") WHY NOT Song
                       li
                           a(href="#") why not 크루 영상 보기
                       li
                           a(href="#") WHY NOT ROAD
               .swiper
                   .swiper-wrapper
                       .swiper-slide
                           p LGU+
                           h4 와이낫 크루가 소개하는 대한민국 핫플 - 부산 -
                       .swiper-slide
                           p LGU+
                           h4 와이낫 크루가 소개하는 대한민국 핫플 - 울산 -
                       .swiper-slide
                           p LGU+
                           h4 와이낫 크루가 소개하는 대한민국 핫플 - 춘천 -

        section#why-not-road.why-not-road
            header
                p 와이낫 크루가 소개하는 #[strong 대한민국 핫플]
                h3 WHY NOT ROAD
                p 와이낫 크루가 추천하는 와이낫 로드
                p 각 지역을 클릭하면 다양한 지역정보와 혜택이 한눈에!
            div.why-not-road__wrap
                ul
                    li
                        a(href="#") 춘천
                    li
                        a(href="#") 부산
                    li
                        a(href="#") 인천
                    li
                        a(href="#") 울산
                    li
                        a(href="#") 서울

        section#collaboration.collaboration
            header
                h3 선 넘는 #[strong COLLABORATION]
                p 일상의 변화를 가져올 선 넘는 즐거운 콜라보
            div.collaboration__wrap
                div
                    p LG Uplus X 떼껄룩  일상의 즐거운 변화를 원할 때,  #[strong WHY NOT?]
                div
                    h4 예상 밖의 두 브랜드의 만남,<br> #[strong LG U+ 콜라보레이션]
                    p 선 넘는 콜라보에 취한다 #[strong WHY NOT]
                    dl
                        div
                            dt 선 넘는 경험, 하나!
                            dd 유플러스와 복순도가의 선 넘는 콜라보 막걸리를 맛있게 즐겨주세요.
                        div
                            dt 선 넘는 경험, 둘!
                            dd 와이낫 크루의 <WHY NOT Song>과 함께  선 넘는 즐거움에 취해보세요.

        footer
            div
                h1 (주)엘지유플러스
                p
                    a(href="#") LG 유플러스 홈페이지 가기
            div
                p
                    address 서울특별시 용산구 한강대로 32
                p 대표이사 : 황현식
            div
                p 사업자등록번호 : 220-81-39938
                p 통신판매신고 제 2015-서울용산-00481호
                    a(href="#") 사업자 정보 확인
            p Copyright &copy; LG